.qlht22{
    position: absolute;
    top:50px;
    left:250px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    display: flex;
    align-items: center;

    /* Grey/4 */

    color: #ACBCD1;
}

.nutsuyraa1{
    position: absolute;
    top:53px;
    left:380px;
}

.QlTbgsm11{
    position: absolute;
    top:45px;
    left:405px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;

    /* Blue/8 */

    color: #091F3A;

    opacity: 0.8;
}

.diemgiamsat99{
    position: absolute;
    top:90px;
    left:250px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    display: flex;
    align-items: center;

    /* Blue/7 */

    color: #114A69;

    opacity: 0.8;
}

.GSMIDAddress{
    background: #FFFFFF;
    /* Grey/4 */

    border: 1px solid #ACBCD1;
    box-sizing: border-box;
    border-radius: 8px;
}

.addressss{
    position: absolute;
    top:123px;
    left:250px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    display: flex;
    align-items: center;

    /* Grey/4 */

    color: #ACBCD1;

}

.ATMbPGD{
    position: absolute;
    top:90px;
    left:430px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    display: flex;
    align-items: center;

    /* Blue/7 */

    color: #114A69;

    opacity: 0.8;

}

.GSMIDAddress11{
    background: #FFFFFF;
    /* Grey/4 */

    border: 1px solid #ACBCD1;
    box-sizing: border-box;
    border-radius: 8px;
    position: absolute;
    left:430px;
    top:120px;
}

.addressss1{
    position: absolute;
    left:435px;
    top:123px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    /* Blue/8 */

    color: #091F3A;

    opacity: 0.8;
}

.dropdowm1{
    position: absolute;
    left:560px;
    top:125px;
}

.knn14{
    position: absolute;
    top:90px;
    left:620px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    display: flex;
    align-items: center;

    /* Blue/7 */

    color: #114A69;

    opacity: 0.8;
}

.GSMIDAddress111{
    background: #FFFFFF;
    /* Grey/4 */

    border: 1px solid #ACBCD1;
    box-sizing: border-box;
    border-radius: 8px;
    position: absolute;
    left:615px;
    top:120px;
}

.addressss11{
    position: absolute;
    left:625px;
    top:123px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    /* Blue/8 */

    color: #091F3A;

    opacity: 0.8;
}

.dropdowm11{
    position: absolute;
    left:750px;
    top:125px;
}

.knm14{
    position: absolute;
    top:90px;
    left:790px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    display: flex;
    align-items: center;

    /* Blue/7 */

    color: #114A69;

    opacity: 0.8;
}

.GSMIDAddress1111{
    background: #FFFFFF;
    /* Grey/4 */

    border: 1px solid #ACBCD1;
    box-sizing: border-box;
    border-radius: 8px;
    position: absolute;
    left:790px;
    top:120px;
}

.addressss111{
    position: absolute;
    left:795px;
    top:123px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    /* Blue/8 */

    color: #091F3A;

    opacity: 0.8;
}

.dropdowm111{
    position: absolute;
    left:925px;
    top:125px;
}

.cb58{
    position: absolute;
    top:90px;
    left:965px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    display: flex;
    align-items: center;

    /* Blue/7 */

    color: #114A69;

    opacity: 0.8;
}

.GSMIDAddress11111{
    background: #FFFFFF;
    /* Grey/4 */

    border: 1px solid #ACBCD1;
    box-sizing: border-box;
    border-radius: 8px;
    position: absolute;
    left:965px;
    top:120px;
}

.addressss1111{
    position: absolute;
    left:970px;
    top:123px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    /* Blue/8 */

    color: #091F3A;

    opacity: 0.8;
}

.dropdowm1111{
    position: absolute;
    left:1095px;
    top:125px;
}

.search998{
    position: absolute;
    left:1125px;
    top:115px;
    width:90px;
    height:35px;
    background: #2190CD;
    /* Blue/5 */

    border: 1px solid #2190CD;
    box-sizing: border-box;
    border-radius: 8px;
}

.search999{
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

   
    text-align: center;

    /* Text/White */

    color: #FFFFFF;

}



.search9981{
    position: absolute;
    left:1230px;
    top:115px;
    width:120px;
    height:35px;
    background: #2190CD;
    /* Blue/5 */

    border: 1px solid #2190CD;
    box-sizing: border-box;
    border-radius: 8px;
}

.search9991{
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

   
    text-align: center;

    /* Text/White */

    color: #FFFFFF;

}