.Login1{
    position: absolute;
width: 1920px;
height: 1080px;
left: 0px;
top: 0px;
    
border-radius: 50px 50px 50px 50px;
background: #F0F8FF;
box-shadow: inset 100px -100px 100px rgba(185, 188, 191, 0.123), inset -100px 100px 100px rgba(255, 255, 255, 0.123);
backdrop-filter:blur(600px);
}
.Hinhanh1
{
    width: 75px;
    height: 75px;
    background: #FF2D55;
    border-radius: 40px 40px 40px 40px;
    position: absolute;
}
.icon12
{
    padding-top: 20px;
    padding-left: 20px;
}
.Content1
{
    position: absolute;
    width: 1542px;
    height: 800px;
    left: 189px;
    top: 140px;
    display: flex;

background:white;
border-radius: 32px;
}
.iconpicture{
    width: 770px;
height: 752px;

margin-bottom: 35%;
margin-right: 50px;
position: relative;

/* angular */

background: conic-gradient(from 76.92deg at 50% 50%, #C5FFFB -73.21deg, #E4E9FE 2.5deg, #A9D7FF 81.36deg, #89DCFF 143.29deg, #A9C6FF 207.16deg, #C5FFFB 286.79deg, #E4E9FE 362.5deg);
opacity: 0.5;
border-radius: 18px;
}
.Contentleft1{
    flex: 5;
    width: 776px;
    height: 752px;
    left: 24px;
    top: 24px;
    margin-top: 15px;
    margin-left: 30px;
}
.bongatm1{
    position: absolute;
    z-index: 0;
    margin-top: 35%;
    opacity: 0.9;
}
.atm1{
    margin-top: 10%;
    margin-left: 16%;
    height: 600px;
    position: absolute;
    z-index: 1;
}
.hinh923{
    position: absolute;
    z-index: 1;
    margin-top: 3%;
    margin-left: 30px;
}
.hinh924{
    position: absolute;
    z-index: 2;
    margin-top: 15%;
    margin-left: 43%;
}
.hinh931{
    position: absolute;
    z-index: 2;
    margin-top: 32%;
    margin-left: 30%;
}

.btnGuilaiemail{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 32px;

position: absolute;
width: 163px;
height: 55px;
left: 1116px;
top: 476px;

/* Blue/5 */

background: #2190CD;
/* Blue/5 */

border: 1px solid #2190CD;
box-sizing: border-box;
border-radius: 8px;
}

.btnnutguilaiemail{
    position: static;
    width: 99px;
    height: 23px;
    left: calc(50% - 99px/2);
    top: calc(50% - 23px/2);
    
    /* 18 Extra Bold */
    
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    /* Text/White */
    
    color: #FFFFFF;
    
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 8px;
}


