.table5{
    position: absolute;
    top:160px;
    left:250px;
}

.so1{
    color: #1085C5;
}

.so2{
    color: #1085C5;
}
.so3{
    color: #1085C5;
}.so4{
    color: #1085C5;
}
.so5{
    color: #1085C5;
}
.so6{
    color: #1085C5;
}
.so7{
    color: #1085C5;
}
.so8{
    color: #1085C5;
}
.so9{
    color: #1085C5;
}
.so10{
    color: #1085C5;
}
.so11{
    color: #1085C5;
}
.so12{
    color: #1085C5;
}
.so13{
    color: #1085C5;
}
.so14{
    color: #1085C5;
}