.so11{
    color: #1085C5;
}

.so21{
    color: #1085C5;
}
.so31{
    color: #1085C5;
}.so41{
    color: #1085C5;
}
.so51{
    color: #1085C5;
}
.so61{
    color: #1085C5;
}
.so71{
    color: #1085C5;
}
.so81{
    color: #1085C5;
}
.so91{
    color: #1085C5;
}
.so101{
    color: #1085C5;
}
.so111{
    color: #1085C5;
}
.so121{
    color: #1085C5;
}
.so131{
    color: #1085C5;
}
.so141{
    color: #1085C5;
}

.BCPGDMain{
    position: absolute;
    top:170px;
    left:250px;
}