.QLHTb{
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    display: flex;
    align-items: center;

    /* Grey/4 */

    color: #ACBCD1;
    position: absolute;
    left:250px;
    top:50px;
}

.suyra88b{
    position: absolute;
    left:380px;
    top:55px;
}

.QLNDb{
    position: absolute;
    left:400px;
    top:50px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    display: flex;
    align-items: center;

    /* Grey/4 */

    color: #ACBCD1;
}

.suyra888b{
    position: absolute;
    left:550px;
    top:55px;
}

.Capnhat55b{
    position: absolute;
    left:580px;
    top:48px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;

    /* Blue/8 */

    color: #091F3A;

    opacity: 0.8;
}