.QLTBGSM11111{
        position: absolute;
        top:150px;
        left:250px;
}

.dropdown10888{
    display: inline-block;
    
}


.hienthi9999913{
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 150% */

    letter-spacing: 0.005em;

    /* Blue/7 */

    color: #114A69;

    opacity: 0.7;
    position: absolute;
    left:25px;
    top:960px;

}

.otron13{
    background: #FFFFFF;
    /* Blue/4 */

    border: 1px solid #6CB6DD;
    box-sizing: border-box;
    border-radius: 4px;

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;
    position: absolute;
    left:80px;
    top:960px;
    width:40px;
    height:25px;
    
}

.numberfourteen13{
   
    text-align: center;
  
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */

    letter-spacing: 0.005em;

    /* Blue/7 */

    color: #114A69;
}

.row455413{
    position: absolute;
    left:130px;
    top:960px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 150% */

    letter-spacing: 0.005em;

    /* Blue/7 */

    color: #114A69;

    opacity: 0.7;
}
